/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items:center;
  justify-content: center;
}

.h2 {
  font-size: large;
  margin: 0;
  max-width: 968px;
  margin: 0 auto;
}

.version_link {
  margin-top: 164px;
}

.description {
  font-size: 20px;
  margin-bottom: 72px;
}

@media screen and (max-width: 1133px) {
  .h2 {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .version_link {
    margin-top: 124px;
  }
}


@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .h2 {
    width: auto;
    font-size: 14px;
  }

  .description {
    margin-bottom: 48px;
  }
}