.img_video_container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.img_video_container_in {
  width: 616px;
  height: 346.5px;
}

.main_img_title h2 {
  width: 390px;
}

.main_img_title h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 64px;
}

.feature_grid_title {
  text-align: center;
  padding-top: 144px;
  padding-bottom: 64px;
  font-size: 40px;
  margin: 0;
}

.features {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  margin: 144px 0;
  padding: 0;
}

.feature_container {
  width: 500px;
  height: 300px;
  padding: 32px;
  flex-grow: 1;
  height: auto;
}

.features .feature_container:nth-child(1) {
  width: 100%;
}

.feature_title_container {
  display: flex;
  justify-content: flex-start;
  vertical-align:bottom;
  height: 39px;
  gap: 16px;
  margin-bottom: 24px;
}

.feature_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
}

.feature_link {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.feature_link img{
  filter: invert(47%) sepia(100%) saturate(4115%) hue-rotate(196deg) brightness(90%) contrast(100%);
}

.main_img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1030px) {
  .features .feature_container:nth-child(5n + 4) {
    width: 300px;
    flex-grow: 1;
  }
}

@media (max-width: 768px) {
  .main_img {
    padding-right: 2em;
    padding-left: 2em;
  }

  .feature_grid_title {
    padding-top: 96px;
    font-size: 24px;
  }

  .feature_container {
    border-radius: 12px;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    height: 300px;
  }

  .feature_text {
    font-size: 12px;
  }

  .feature_title {
    margin-bottom: 12px;
    font-size: 18px;
  }

  .features {
    gap: 20px;
  }
}