.img_video_container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 144px;
}

.img_video_container_in {
  width: 616px;
  height: 346.5px;
}

.main_img_title {
  padding-right: 2em;
  padding-left: 2em;
}

.main_img_title h2 {
  width: 390px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 64px;
}

.feature_grid_title {
  text-align: center;
  padding-top: 144px;
  padding-bottom: 64px;
  font-size: 40px;
  margin: 0;
}

.features {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
  height: 1300px;
  margin: 144px 0;
  padding: 0;
}

.features .feature_container {
  max-width: 616px;
  margin: 16px;
}

.feature_container{
  padding: 32px 0;
  flex-grow: 1;
  height: auto;
}

.feature_title_container {
  display: flex;
  justify-content: flex-start;
  vertical-align:bottom;
  height: 39px;
  gap: 16px;
  margin-bottom: 24px;
}

.feature_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
}

.feature_link {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.feature_link img{
  filter: invert(47%) sepia(100%) saturate(4115%) hue-rotate(196deg) brightness(90%) contrast(100%);
}

.main_img {
  width: 100%;
  object-fit: contain;
}

.plugin_grid{
  display: flex;
  flex-flow: wrap;
  gap: 32px;
}

.plugin_container{
  width: 360px;
}

.plugin_title{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 1300px) {
  .features {
    height: 90em;
  }
  .features .feature_container {
    width: calc(100% - 64px);
  }
}

@media (max-width: 768px) {
  .img_video_container {
    flex-flow: column;
    padding-bottom: 96px;
  }
  
  .img_video_container_in {
    width: 100%;
  }

  .main_img_title h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .main_img {
    padding-right: 2em;
    padding-left: 2em;
  }

  .feature_grid_title {
    padding-top: 96px;
    font-size: 24px;
  }

  .feature_title {
    margin-bottom: 12px;
    font-size: 18px;
  }

  .features {
    width: 100%;
    height: auto;
  }
  .features .feature_container {
    width: 100%;
    margin: 0;
  }

  .feature_container {
    width: 100%;
  }
}