

.codeBlockContent {
  position: relative;
  /* rtl:ignore */
  direction: ltr;
  border-radius: inherit;
}

.codeBlockTitle {
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  font-size: var(--ifm-code-font-size);
  font-weight: 500;
  padding: 0.75rem var(--ifm-pre-padding);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border: 1px solid #E4E4E4;
  background-color: #fff;
}

[data-theme='dark'] .codeBlockTitle {
  border: 1px solid #3D3D3D;
  background-color: #000 !important;
}

.codeBlock {
  --ifm-pre-background: var(--prism-background-color);
  margin: 0;
  padding: 0;
  border: 1px solid #E4E4E4;
  background-color: #FFF !important;
  padding-right: 10%;
}

[data-theme='dark'] .codeBlock {
  border: 1px solid #3D3D3D;
  background-color: #000 !important;
}

.codeBlockTitle + .codeBlockContent .codeBlock {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.codeBlockStandalone {
  padding: 0;
}

.codeBlockLines {
  font: inherit;
  /* rtl:ignore */
  float: left;
  min-width: 100%;
  padding: var(--ifm-pre-padding);
}

/* .codeBlockContainer {
  
} */

.codeBlockLinesWithNumbering {
  display: table;
  padding: var(--ifm-pre-padding) 0;
}

@media print {
  .codeBlockLines {
    white-space: pre-wrap;
  }
}

.buttonGroup {
  display: flex;
  column-gap: 0.2rem;
  position: absolute;
  /* rtl:ignore */
  right: 1px;
  top: 5px;
  background-color: #fff;
  height: calc(100% - 15px);
}

[data-theme='dark'] .buttonGroup {
  background-color: #000;
}


.buttonGroup_with_title{
  top: -48px;
  height: fit-content;
}

.buttonGroup button {
  display: flex;
  align-items: flex-start;
  background: transparent;
  padding: 0.8rem;
  line-height: 0;
  transition: opacity var(--ifm-transition-fast) ease-in-out;
  opacity: 1;
  color: #565656;
}

html[data-theme='dark'] .buttonGroup button {
  color: #a1a1a1;
}

.buttonGroup button:focus-visible,
.buttonGroup button:hover {
  opacity: 1 !important;
  color: #0A74E6;
}

/* :global(.theme-code-block:hover) .buttonGroup button {
  opacity: 0.4;
} */
